<div class="d-flex">
  <div class="contenedor">
    <h1>Lista de equipos</h1>
    <table class="table">
        <thead>
          <tr>
      
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
         
          </tr>
        </thead>
        <tbody *ngFor="let item of equipos">
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
          </tr>
          
        </tbody>
      </table>
</div>
<div class="contenedor">
  <h1>Formulario</h1>
  <form >
   <div class="mb-3">
     <label  class="form-label">ID</label>
     <input type="text" placeholder="Ingrese el id del equipo" class="form-control">
   </div>
   <div class="mb-3">
     <label  class="form-label">Nombre</label>
     <input type="text" placeholder="Ingrese el nombre del equipo" class="form-control">
   </div>
   <button type="submit" class="btn btn-success">Guardar equipo</button>
  </form>
</div>
</div>
